@use './variables' as *;

@mixin focus-visible {
  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba($lavender-700, 0.2);
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
