@media (min-width: 700px) {
  .header {
    gap: 20px;
  }

  .main .todo {
    padding: 20px;
  }

  .todo__list {
    gap: 12px;
  }

  .todo__item {
    padding: 14px;
    border-radius: 14px;
  }
}

@media (min-width: 1000px) {
  body {
    background-position: center top;
  }
}
